{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "core/node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    </head>
    <body>
<div class="row">
    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <nav>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a href="{% url "core:home" %}">
                <h1>Main Page</h1> </a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a href="{% url "posts:allblogs" %}"><h1>Blogs</h1></a></div>
        </nav>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            {% if user.is_anonymous %}
            <a class="btn btn-success" href="{% url "core:login" %}">Sign in</a><br>
            <a class="btn btn-primary" href="{% url "core:register" %}">Registration</a><br>
            {% else %}
            <p class="text-info">You are {{ user.username }}</p>
                <a class="btn btn-primary" href="{% url "core:logout" %}">Sign out </a>
            {% endif %}
        </div>
    </div>
</div>
<br><br>

        <div class="row">
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                {% block content %}{% endblock %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <footer>Designed by Denis Epiktetov, MIPT 2017</footer>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </body>
</html>