{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block content %}

    {% if not user.is_anonymous %}
        <div class="row">
            <div class="col-xs-12  col-sm-2  col-md-2 col-lg-2">
                <a class="btn btn-primary" href="{% url "posts:createblog" %}"> Create blog </a>
            </div>


            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Create post
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">



  <div class="modal-dialog" role="document">
            <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating new post</h4>
      </div>
      <div class="modal-body for_creating_post_form" data-action="">

      </div>


    </div>
  </div>


</div>

        </div>
        <br>
    {% endif %}

    <form role="form" class="form-inline" method="get" action="{% url "posts:allblogs" %}">
        <div class="form-group">
            <label for="id_sort">Ordered by </label> {{ sortform.sort|add_class:"form-control"}}
        </div>

        <div class="form-group">
            <label for="id_search">Search for </label>{{ sortform.search|add_class:"form-control"}}
        </div>

        <input class="btn btn-default" type="submit" value="Sort">
    </form>


<br>


    <div class="panel-group">
        {% for blog in object_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url "posts:oneblog" pk=blog.id %}">{{ blog.title }}</a>
                </div>
                <div class="panel-body">
                    <div class="container">
                    <div class="row"><div class="text-info">
                        Rate: {{ blog.rate }}
                        {% if blog.categories.all %}
                        <br>
                        Categories:
                            {% for c in blog.categories.all %}
                                {{ c.name }}
                            {% endfor %}
                        {% endif %}
                    </div></div>


                    <div class="row"><article>
                        {{ blog.description }}
                    </article>
                    </div>

                    <div class="row">
                        {% if blog.author == user%}
                        <a class="btn btn-default" href="{% url "posts:editblog" pk=blog.id %}">Edit</a>
                        {% endif %}
                    </div></div>
                </div>
            </div>
        {% endfor%}
    </div>
    <br><br>

{% endblock %}