{% extends 'core/base.html' %}

{% block content %}


<h1> {{ object.title }} </h1><br>

<i>
{% if object.categories.all %}
Categories:
    {% for c in blog.categories.all %}
        {{ c.name }}
    {% endfor %}
{% endif %}
</i>
<br>

{{ object.description }} <br>


    <h1>Posts</h1>
        {% for post in object.post_set.all %}
<b><a href="{% url "posts:createcomment" pk=post.id %}">{{ post.title}}</a></b>
Likes: {{ post.likes}}

{% if post.author == user %}
 <a href="{% url "posts:editpost" pk=post.id %}"> Edit</a>
{% endif %}
<br>

    {% endfor%}


{% endblock %}