{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}

<h3>Blog: <a href="{% url "posts:oneblog" pk=post.blog.id %}">{{ post.blog.title }}</a></h3> <br>


<div class="panel panel-primary">
     <div class="panel-heading">
         <h4><header> {{ post.title }}</header></h4>
     </div>
    <div class="panel-body"><article>

        {{ post.text }}</article></div>
    <div class="panel-footer">Likes: <div class="likescount">{{post.like_set.count}}</div> <br>Comments: {{ post.comment_set.count}}

        {% if not liked %}
    <input type="button" value="Like" class="btn btn-primary likebutton">
        {% endif %}

    </div>


</div>


<div class="commentsdiv">

</div>



<div class="row">
    <div class="col-xs-12  col-sm-8 col-md-4 col-lg-4">
{% if not user.is_anonymous %}
<form role="form" method="post" action="{% url "posts:createcomment" pk=post.blog.id %}">
{% csrf_token %}
        <div class="form-group">{{ form.text|add_class:"form-control" }}</div>

<input class="btn btn-default" type="submit">
</form>
{% endif %}

                    </div>
</div>


{% endblock %}


